# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.You-are-a-squirrel.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\inajo\Desktop\Github\You-are-a-squirrel\.idea\.idea.You-are-a-squirrel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
