# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.New Unity Project.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\inajo\Desktop\folder\NYU class\2020-2\Level Design\Midterm\New Unity Project\.idea\.idea.New Unity Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
